﻿
<footer class="wrap-footer">
    <div class="footer-top pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 footer-item">
                    <div class="widget widget-noo-infomation">
                        <h4 class="widget-title">Umbra Furniture</h4>
                        <p class="info-desc">
                            We are a global housewares product design company. We bring thought and creativity to everyday items through original design.
                        </p>
                        <ul class="noo-infomation-attr">
                            <li>
                                <span class="text-icon">A</span>
                                <address>1001 Milacian Crest Street, Paris France </address>
                            </li>
                            <li>
                                <span class="text-icon">T</span>
                                <a href="#">+(084) 888 - 6789</a>
                            </li>
                            <li>
                                <span class="text-icon">M</span>
                                <a class="phone-text" href="mailto:Contact@Umbra.com" target="_top">Contact@Umbra.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-item">
                    <div class="widget">
                        <h4 class="widget-title">Opening Time</h4>
                        <ul class="noo-opening-time">
                            <li>
                                Mon - Fri: 8AM - 10PM
                            </li>
                            <li>
                                Sat: 9AM-8PM
                            </li>
                            <li>
                                Sun: Closed
                            </li>
                            <li>
                                We Work All The Holidays
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-item">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">About</h4>
                        <ul class="menu">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Shopping Guide</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Store</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-item">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title">Account</h4>
                        <ul class="menu">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Order Tracking</a></li>
                            <li><a href="#">Shipping Info</a></li>
                            <li><a href="#">Return Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pb-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#"><img src="images/image_298x20.jpg" alt="" /></a>
                    <p class="mt-1"> 2016. Developed by TK-Themes</p>
                </div>
            </div>
        </div>
    </div>
</footer>