﻿
<header class="noo-header fixed_top header-1">
    <div class="navbar-wrapper">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-logo">
                    <a href="./" class="custom-logo-link">
                        <img src="/Assets/Website/html-umbra/images/logo.png" alt="Logo" />
                    </a>
                    <button data-target=".nav-collapse" class="btn-navbar noo_icon_menu icon_menu"></button>
                </div>
                <nav class="noo-main-menu">
                    @RenderPage("~/Areas/Website/Views/Shared/_Menu.cshtml")
                </nav>
                <div class="navbar-meta">
                    <ul>
                        <li><a class="noo-search icon_search" href="#"></a></li>
                        <li>
                            <a class="noo-wishlist icon_heart_alt" href="wishlist.html"></a>
                        </li>
                        <li class="noo-menu-item-cart minicart">
                            <a class="cart-button" href="#">
                                <span class="cart-item">
                                    <i class="icon_bag_alt"></i>
                                    <span class="cart-count">0</span>
                                    <span class="cart-name-and-total">
                                        Cart(0)
                                    </span>
                                </span>
                            </a>
                            <div class="noo-minicart">
                                <div class="minicart-header">Your shopping bag is empty.</div>
                                <div class="minicart-footer">
                                    <div class="minicart-actions clearfix">
                                        <a class="button pull-left" href="shop.html">
                                            <span class="text">Go to the shop</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="search-header">
        <div class="remove-form"></div>
        <div class="container">
            <form class="form-horizontal noo-umbra-searchform">
                <label class="note-search">Type and Press Enter to Search</label>
                <input type="search" name="s" class="form-control" value="" placeholder="Enter keyword to search..." />
                <button type="submit" class="noo-search-submit"><i class="icon_search"></i></button>
            </form>
        </div>
    </div>
</header>