﻿<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="shortcut icon" href="/Assets/Website/html-umbra/images/favicon.ico" />
    <title>Umbra &#8211; Homepage 2 | HTML Ecommerce Template</title>

    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/settings.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/prettyPhoto.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/magnific-popup.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/elegantIcon.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/owl.carousel.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/owl.theme.css" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/Assets/Website/html-umbra/css/custom.css" type="text/css" media="all" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="noo-spinner">
        <div class="sk-rotating-plane"></div>
    </div>
    <div class="site">
        @RenderBody()
        @RenderPage("~/Areas/Website/Views/Shared/_Footer.cshtml")
    </div>
        <a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>

        <script type="text/javascript" src="/Assets/Website/html-umbra/js/jquery.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/modernizr-2.7.1.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/jquery.prettyPhoto.init.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/jquery.magnific-popup.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/off-cavnas.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/script.js"></script>

        <script type="text/javascript" src="/Assets/Website/html-umbra/js/extensions/revolution.extension.video.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="/Assets/Website/html-umbra/js/extensions/revolution.extension.parallax.min.js"></script>
</body>
</html>