﻿
<ul class="nav-collapse navbar-nav">
    <li class="menu-item-has-children">
        @Html.ActionLink("Trang chủ", "Index", "Home", null, new { @class = "collapse-item" })
    </li>
    <li class="menu-item-has-children">
        @Html.ActionLink("Tin tức", "Index", "Blog", null, new { @class = "collapse-item" })
    </li>
    <li class="menu-item-has-children">
        @Html.ActionLink("Sản phẩm", "Index", "Shop", null, new { @class = "collapse-item" })
    </li>
    <li>
        @Html.ActionLink("Liên hệ", "Contact", "Shop", null, new { @class = "collapse-item" })
    </li>
</ul>