﻿@model Models.Framework.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCms.cshtml";
}

@section Container
{
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add news</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-9">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control GroupNewsTitle"} })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Content)
                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control GroupNewsContent", id = "CKEditor" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" id="CreateNewsSubmit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-3" style="height:465px; overflow-y: scroll">
                        <div class="form-group">
                            <h4>Group News</h4>
                            @for (int index = 0; index < ViewBag.GroupNewsList.Count; index++)
                            {
                                <div class="form-control">
                                    <input type="checkbox" class="custom-control-input GroupNewsID" value="@ViewBag.GroupNewsList[index].GroupNewsID" id="GroupNews@(index)" name="ArrayGroupNewID[]">
                                    <label class="custom-control-label" for="GroupNews@(index)">@ViewBag.GroupNewsList[index].Name</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            }
            <br />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>


}

@section ScriptFooterAdmin{
    <script>
        CKEDITOR.replace('CKEditor');
    </script>
}
