﻿@model IEnumerable<Models.Framework.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCms.cshtml";
}

@section Container
{
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">News</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@Html.ActionLink("Add new", "Create", "News", null, new { @class = "btn btn-primary" })</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                @*<th>Content</th>*@
                                <th>CreatedDate</th>
                                <th>CreatedBy</th>
                                <th>ModifiedDate</th>
                                <th>ModifiedBy</th>
                                <th>Action</th>    
                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                @*<th>Content</th>*@
                                <th>CreatedDate</th>
                                <th>CreatedBy</th>
                                <th>ModifiedDate</th>
                                <th>ModifiedBy</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    @*<td>@Html.Raw(@item.Content)</td>*@
                                    <td>@item.CreatedDate</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.ModifiedDate</td>
                                    <td>@item.ModifiedBy</td>

                                    <td>
                                        @Html.ActionLink("Delete", "Delete", "News", new { id = @item.NewsID }, null) |
                                        @Html.ActionLink("Edit", "Edit", "News", new { id = @item.NewsID }, null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
}