﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}
@model OnlineShop.Areas.Admin.Models.LoginModel
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-user", @placeholder = "Enter Email Address...", @autofocus = "autofocus" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-user", @placeholder = "Password", @type = "password" })
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

