﻿@model Models.Framework.Product
@using Models.Framework

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCms.cshtml";
}

@section Container
{
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Edit product</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-9">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SupplierID)
                            <select class="form-control" data-val="true" data-val-number="The field SupplierID must be a number." id="SupplierID" multiple="multiple" name="SupplierID">
                                @foreach (var item in @ViewBag.SupplierID)
                                {
                                    var Selected = (Model.SupplierID == @item.SupplierID) ? "selected" : "";
                                    <option value="@item.SupplierID" @Selected>@item.Name</option>
                                }

                            </select>
                            @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Price)
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Quantity)
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-9 pr-0">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ImgUrl)
                                            @Html.EditorFor(model => model.ImgUrl, new { htmlAttributes = new { @class = "form-control mr-0" } })
                                            @Html.ValidationMessageFor(model => model.ImgUrl, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="ImgUrl">Select Image</label>
                                            <input class="form-control btn btn-secondary" id="btnBrowseImg" type="button" value="Browse">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "CKEditor" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" id="CreateNewsSubmit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-3" style="height:740px; overflow-y: scroll">
                        <div class="form-group">
                            <h4>Group Product</h4>
                            @{
                                if (ViewBag.GroupProductList != null)
                                {
                                    List<GroupProduct> GroupProductList = ViewBag.GroupProductList;
                                    int[] ArrayGroupProductID = Array.ConvertAll(Model.GroupProductID.Split(','), int.Parse);
                                    for (int index = 0; index < GroupProductList.Count; index++)
                                    {
                                        var isChecked = string.Empty;
                                        if (ArrayGroupProductID.Any(o => o == GroupProductList[index].GroupProductID))
                                        {
                                            isChecked = "checked";
                                        }

                                        <div class="form-control">
                                            <input type="checkbox" @isChecked class="custom-control-input" value="@GroupProductList[index].GroupProductID" id="GroupProduct@(index)" name="ArrayGroupProductID[]">
                                            <label class="custom-control-label" for="GroupProduct@(index)">@GroupProductList[index].Name</label>
                                        </div>
                                    }

                                }

                            }
                        </div>
                    </div>
                </div>

            }
            <br />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>


}

@section ScriptFooterAdmin{
    <script>
        CKEDITOR.replace('CKEditor');

        $(document).ready(function () {
            $('#btnBrowseImg').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#ImgUrl').val(url);
                }
                finder.popup();
            });
        });
    </script>
}
