﻿
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Customer Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#GroupProduct" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Group Product</span>
            </a>
            <div id="GroupProduct" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @Html.ActionLink("Group", "Index", "GroupProduct", null, new { @class = "collapse-item" })
                    @Html.ActionLink("Add group", "Create", "GroupProduct", null, new { @class = "collapse-item" })
                </div>
            </div>
        </li>
        <!-- Nav Item - Customer Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Product" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Products</span>
            </a>
            <div id="Product" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @Html.ActionLink("Product", "Index", "Product", null, new { @class = "collapse-item" })
                    @Html.ActionLink("Add Product", "Create", "Product", null, new { @class = "collapse-item" })
                </div>
            </div>
        </li>
        <!-- Nav Item - Customer Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#GroupNews" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Group News</span>
            </a>
            <div id="GroupNews" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @Html.ActionLink("Group", "Index", "GroupNews", null, new { @class = "collapse-item" })
                    @Html.ActionLink("Add group", "Create", "GroupNews", null, new { @class = "collapse-item" })
                </div>
            </div>
        </li>
        <!-- Nav Item - Customer Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#News" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>News</span>
            </a>
            <div id="News" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @Html.ActionLink("News", "Index", "News", null, new { @class = "collapse-item" })
                    @Html.ActionLink("Add news", "Create", "News", null, new { @class = "collapse-item" })
                </div>
            </div>
        </li>
        <!-- Nav Item - Customer Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Supplier" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Supplier</span>
            </a>
            <div id="Supplier" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @Html.ActionLink("Supplier", "Index", "Supplier", null, new { @class = "collapse-item" })
                    @Html.ActionLink("Add Suppler", "Create", "Supplier", null, new { @class = "collapse-item" })
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>