﻿<div id="AdminShowMessage">
    @if (TempData["SuccesStatus"] != null)
    {
        <div class="alert alert-success">@TempData["SuccesStatus"]</div>
    }

    @if (TempData["ErrorStatus"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorStatus"]</div>
    }
</div>

