﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}


<!-- Page Wrapper -->

<div id="wrapper">

    <!-- Sidebar -->
    @RenderPage("~/Areas/Admin/Views/Shared/_CmsSidebar.cshtml")
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            @RenderPage("~/Areas/Admin/Views/Shared/_CmsTopbar.cshtml")
            <!-- End of Topbar -->
            <!-- Begin Page Content -->

            <div class="container-fluid">
                @RenderPage("~/Areas/Admin/Views/Shared/_CmsShowMessage.cshtml")
                @RenderSection("container", false)
                <!-- /.container-fluid -->
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
@section ScriptFooter{
    @RenderSection("ScriptFooterAdmin", required: false)
}

