﻿
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/Assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/Assets/Admin/plugin/ckeditor/samples/css/samples.css" rel="stylesheet" />
    <link href="/Assets/Common/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />
</head>

<body>

    @RenderBody()

    <!-- Bootstrap core JavaScript-->
    <script src="/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/Assets/Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    @*<script src="/Assets/Admin/vendor/chart.js/Chart.min.js"></script>*@

    <!-- Page level custom scripts -->
    @*<script src="/Assets/Admin/js/demo/chart-area-demo.js"></script>
        <script src="/Assets/Admin/js/demo/chart-pie-demo.js"></script>*@

    <!-- Page level plugins -->
    <script src="/Assets/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/Assets/Admin/js/demo/datatables-demo.js"></script>
    <script src="/Assets/Admin/plugin/ckeditor/ckeditor.js"></script>
    <script src="/Assets/Admin/plugin/ckfinder/ckfinder.js"></script>
    <script src="/Assets/Common/jquery-ui-1.12.1/jquery-ui.js"></script>
    @RenderSection("ScriptFooter", required: false)
    <script>
        $(document).ready(function () {
            $("#AdminShowMessage").delay(2000).slideUp(1000);
        });
    </script>
</body>

</html>
