﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}


    <header class="noo-header header-1 header-transparent">
        <div class="navbar-wrapper">
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-logo">
                        <a href="./" class="custom-logo-link">
                            <img src="/Assets/Website/html-umbra/images/logo.png" alt="Logo" />
                        </a>
                        <button data-target=".nav-collapse" class="btn-navbar noo_icon_menu icon_menu"></button>
                    </div>
                    <nav class="noo-main-menu">
                        @RenderPage("~/Areas/Website/Views/Shared/_Menu.cshtml")
                    </nav>
                    <div class="navbar-meta">
                        <ul>
                            <li><a class="noo-search icon_search" href="#"></a></li>
                            <li>
                                <a class="noo-wishlist icon_heart_alt" href="wishlist.html"></a>
                            </li>
                            <li class="noo-menu-item-cart minicart">
                                <a class="cart-button" href="#">
                                    <span class="cart-item">
                                        <i class="icon_bag_alt"></i>
                                        <span class="cart-count">0</span>
                                        <span class="cart-name-and-total">
                                            Cart(0)
                                        </span>
                                    </span>
                                </a>
                                <div class="noo-minicart">
                                    <div class="minicart-header">Your shopping bag is empty.</div>
                                    <div class="minicart-footer">
                                        <div class="minicart-actions clearfix">
                                            <a class="button pull-left" href="shop.html">
                                                <span class="text">Go to the shop</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-header">
            <div class="remove-form"></div>
            <div class="container">
                <form class="form-horizontal noo-umbra-searchform">
                    <label class="note-search">Type and Press Enter to Search</label>
                    <input type="search" name="s" class="form-control" value="" placeholder="Enter keyword to search..." />
                    <button type="submit" class="noo-search-submit"><i class="icon_search"></i></button>
                </form>
            </div>
        </div>
    </header>
    <div id="main">
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div id="rev_slider" class="rev_slider fullwidthabanner">
                            <ul>
                                <li data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/Assets/Website/html-umbra/images/slider/slider_thumb_70x70.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide">
                                    <img src="/Assets/Website/html-umbra/images/slider/slider_1903x868.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />

                                    <div class="tp-caption caption-1 tp-resizeme" data-x="center" data-hoffset="180" data-y="180" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:100px;opacity:0;s:1000;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        umbra design <br />modern furniture
                                    </div>

                                    <div class="tp-caption caption-2 tp-resizeme" data-x="center" data-hoffset="60" data-y="320" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:-100px;opacity:0;s:1000;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        We Make Your Beautiful Home
                                    </div>

                                    <div class="tp-caption caption-3 tp-resizeme" data-x="center" data-hoffset="25" data-y="360" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1000;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        $125.00 - $750.00
                                    </div>
                                </li>
                                <li data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/Assets/Website/html-umbra/images/slider/slider_thumb_70x70.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide">
                                    <img src="/Assets/Website/html-umbra/images/slider/slider_1903x868.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />

                                    <div class="tp-caption caption-1 tp-resizeme" data-x="right" data-hoffset="15" data-y="center" data-voffset="-150" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:100px;opacity:0;s:1000;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        decorating rule: <br />live with what you love
                                    </div>

                                    <div class="tp-caption caption-2 tp-resizeme" data-x="center" data-hoffset="177" data-y="center" data-voffset="-50" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:-100px;opacity:0;s:1000;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        Home Is Where Your Story Begins
                                    </div>
                                </li>
                                <li data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/Assets/Website/html-umbra/images/slider/slider_thumb_70x70.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide">
                                    <img src="/Assets/Website/html-umbra/images/slider/slider_1903x868.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />

                                    <div class="tp-caption caption-1 tp-resizeme text-center" data-x="center" data-hoffset="" data-y="center" data-voffset="-137" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1000;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        your home <br />should tell your story
                                    </div>

                                    <div class="tp-caption caption-2 tp-resizeme" data-x="center" data-hoffset="" data-y="center" data-voffset="-38" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1000;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="900" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                        What We Live With Says Something About Us
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="features">
                        <div class="col-md-4 col-sm-6 mb-2">
                            <a href="#" class="image-zoom">
                                <img src="/Assets/Website/html-umbra/images/banner/banner_594x347.jpg" alt="" class="" />
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-2">
                            <a href="#" class="image-zoom">
                                <img src="/Assets/Website/html-umbra/images/banner/banner_594x347.jpg" alt="" class="" />
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-2">
                            <a href="#" class="image-zoom">
                                <img src="/Assets/Website/html-umbra/images/banner/banner_594x347.jpg" alt="" class="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pt-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-section-title">
                            <h3><span>Featured Products</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pb-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable noo-product-filter text-center">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab-1" data-toggle="tab">Armchair</a>
                                </li>
                                <li>
                                    <a href="#tab-2" data-toggle="tab">Bench</a>
                                </li>
                                <li>
                                    <a href="#tab-3" data-toggle="tab">Chairs</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tab-1">
                                    <div class="noo-product-grid">
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Modern Red Chair</a></h3>
                                                <span class="posted_in"><a href="#">Decor</a></span>
                                                <span class="onsale">Sale!</span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <del>&#36;270.00</del>
                                                    <ins>&#36;239.00</ins>
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Egg Chair</a></h3>
                                                <span class="posted_in"><a href="#">Decor</a></span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    &#36;333.00
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Hansen Ro Chair</a></h3>
                                                <span class="posted_in"><a href="#">Armchair</a></span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    &#36;327.00
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Cuba Chair</a></h3>
                                                <span class="posted_in"><a href="#">Chairs</a></span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    &#36;434.00
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2">
                                    <div class="noo-product-grid">
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Modern Red Chair</a></h3>
                                                <span class="posted_in"><a href="#">Decor</a></span>
                                                <span class="onsale">Sale!</span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <del>&#36;270.00</del>
                                                    <ins>&#36;239.00</ins>
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Egg Chair</a></h3>
                                                <span class="posted_in"><a href="#">Decor</a></span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    &#36;333.00
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Hansen Ro Chair</a></h3>
                                                <span class="posted_in"><a href="#">Armchair</a></span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    &#36;327.00
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Flamingo Chair</a></h3>
                                                <span class="posted_in"><a href="#">Armchair</a></span>
                                                <span class="onsale">Sale!</span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <del>&#36;211.00</del>
                                                    <ins>&#36;199.00</ins>
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-3">
                                    <div class="noo-product-grid">
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Modern Red Chair</a></h3>
                                                <span class="posted_in"><a href="#">Decor</a></span>
                                                <span class="onsale">Sale!</span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    <del>&#36;270.00</del>
                                                    <ins>&#36;239.00</ins>
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">The Signature Chair</a></h3>
                                                <span class="posted_in"><a href="#">Armchair</a></span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    &#36;220.00
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Hansen Ro Chair</a></h3>
                                                <span class="posted_in"><a href="#">Armchair</a></span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    &#36;327.00
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noo-product-item col-md-3 col-sm-6">
                                            <div class="noo-product-inner">
                                                <h3><a href="shop-detail.html">Cuba Chair</a></h3>
                                                <span class="posted_in"><a href="#">Chairs</a></span>
                                                <div class="noo-product-thumbnail">
                                                    <div class="noo-product-meta">
                                                        <div class="compare-button">
                                                            <a href="#">Compare</a>
                                                        </div>
                                                        <div class="wishlist-button">
                                                            <a href="#">Wishlist</a>
                                                        </div>
                                                        <div class="noo-quick-view">
                                                            <a href="ajax/product-quickview.html"></a>
                                                        </div>
                                                    </div>
                                                    <div class="noo-product-slider">
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                        <a href="shop-detail.html">
                                                            <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    &#36;434.00
                                                </div>
                                                <div class="noo-loop-cart">
                                                    <a href="#" class="button add-to-cart"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-testimonial-wrap">
                            <ul class="noo-testimonial white">
                                <li>
                                    <img src="/Assets/Website/html-umbra/images/avatar/avatar_alt_60x60.jpg" alt="" />
                                    <div class="noo-testimonial-content">
                                        <span class="testimonial-author">
                                            Stephanie Hilton <strong>Sales Manager</strong>
                                        </span>
                                        <p>Friendly people, an excellent place to shop, and we&#8217;ve referred many people to come shop with you. You stand behind your merchandise and we like the merchandise you stock.</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/Assets/Website/html-umbra/images/avatar/avatar_alt_60x60.jpg" alt="" />
                                    <div class="noo-testimonial-content">
                                        <span class="testimonial-author">
                                            Johnny Williams <strong>Chief Marketing Officer</strong>
                                        </span>
                                        <p>Umbra is my favorite furniture store. Wonderful, friendly customer services, brand name furniture &#8211; my house is full of furniture from Umbra.</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/Assets/Website/html-umbra/images/avatar/avatar_alt_60x60.jpg" alt="" />
                                    <div class="noo-testimonial-content">
                                        <span class="testimonial-author">
                                            Diana Rosie <strong>Creative Designer</strong>
                                        </span>
                                        <p>All the furniture we&#8217;ve bought is still in great shape. Umbra offers quality products at great prices and always friendly folks to serve us.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pt-9 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-section-title">
                            <h3><span>Bestseller</span></h3>
                            <p>hottest products of month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pb-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-product-grid">
                            <div class="noo-product-item col-md-3 col-sm-6">
                                <div class="noo-product-inner">
                                    <h3><a href="shop-detail.html">Blue Wing chair</a></h3>
                                    <span class="posted_in"><a href="#">Armchair</a></span>
                                    <span class="onsale">Sale!</span>
                                    <div class="noo-product-thumbnail">
                                        <div class="noo-product-meta">
                                            <div class="compare-button">
                                                <a href="#">Compare</a>
                                            </div>
                                            <div class="wishlist-button">
                                                <a href="#">Wishlist</a>
                                            </div>
                                            <div class="noo-quick-view">
                                                <a href="ajax/product-quickview.html"></a>
                                            </div>
                                        </div>
                                        <div class="noo-product-slider">
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <del>&#36;219.00</del>
                                        <ins>&#36;200.00</ins>
                                    </div>
                                    <div class="noo-loop-cart">
                                        <a href="#" class="button add-to-cart"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="noo-product-item col-md-3 col-sm-6">
                                <div class="noo-product-inner">
                                    <h3><a href="shop-detail.html">Corona Classic Chair</a></h3>
                                    <span class="posted_in"><a href="#">Chairs</a></span>
                                    <div class="noo-product-thumbnail">
                                        <div class="noo-product-meta">
                                            <div class="compare-button">
                                                <a href="#">Compare</a>
                                            </div>
                                            <div class="wishlist-button">
                                                <a href="#">Wishlist</a>
                                            </div>
                                            <div class="noo-quick-view">
                                                <a href="ajax/product-quickview.html"></a>
                                            </div>
                                        </div>
                                        <div class="noo-product-slider">
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="price">
                                        &#36;400.00
                                    </div>
                                    <div class="noo-loop-cart">
                                        <a href="#" class="button add-to-cart"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="noo-product-item col-md-3 col-sm-6">
                                <div class="noo-product-inner">
                                    <h3><a href="shop-detail.html">Vitra Organic Chair</a></h3>
                                    <span class="posted_in"><a href="#">Armchair</a></span>
                                    <span class="onsale">Sale!</span>
                                    <div class="noo-product-thumbnail">
                                        <div class="noo-product-meta">
                                            <div class="compare-button">
                                                <a href="#">Compare</a>
                                            </div>
                                            <div class="wishlist-button">
                                                <a href="#">Wishlist</a>
                                            </div>
                                            <div class="noo-quick-view">
                                                <a href="ajax/product-quickview.html"></a>
                                            </div>
                                        </div>
                                        <div class="noo-product-slider">
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <del>&#36;358.00</del>
                                        <ins>&#36;350.00</ins>
                                    </div>
                                    <div class="noo-loop-cart">
                                        <a href="#" class="button add-to-cart"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="noo-product-item col-md-3 col-sm-6">
                                <div class="noo-product-inner">
                                    <h3><a href="shop-detail.html">Flamingo Chair</a></h3>
                                    <span class="posted_in"><a href="#">Armchair</a></span>
                                    <span class="onsale">Sale!</span>
                                    <div class="noo-product-thumbnail">
                                        <div class="noo-product-meta">
                                            <div class="compare-button">
                                                <a href="#">Compare</a>
                                            </div>
                                            <div class="wishlist-button">
                                                <a href="#">Wishlist</a>
                                            </div>
                                            <div class="noo-quick-view">
                                                <a href="ajax/product-quickview.html"></a>
                                            </div>
                                        </div>
                                        <div class="noo-product-slider">
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                            <a href="shop-detail.html">
                                                <img src="/Assets/Website/html-umbra/images/product/product_415x415.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <del>&#36;211.00</del>
                                        <ins>&#36;198.00</ins>
                                    </div>
                                    <div class="noo-loop-cart">
                                        <a href="#" class="button add-to-cart"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-countdown">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>FR CHAIR BY FRITZ HANSEN</h2>
                        <p>Fri™ is designed to create a cosy feel in any setting. Of course, it takes more than a <br />chair to create that ambience</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section noo_countdown noo_countdown_2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo_countdown_content">
                            <div class="clock">
                                <div class="clock-inner" data-time="2016/10/10"></div>
                            </div>
                            <h2>FR CHAIR BY FRITZ HANSEN</h2>
                            <p>Fri™ is designed to create a cosy feel in any setting. Of course, it takes more than a<br />chair to create that ambience</p>
                            <a class="custom_link mt-2" href="#">SHOW NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pt-5 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-section-title mb-7">
                            <h3><span>Furniture blog</span></h3>
                            <p>Lastest News of Week</p>
                        </div>
                        <div class="noo-blog">
                            <div class="noo-blog-item style-2">
                                <a class="noo-blog-thumbnail" href="blog-detail.html" data-image="/Assets/Website/html-umbra/images/blog/blog_456x318.jpg">
                                    <span class="view-link"></span>
                                </a>
                                <div class="noo-blog-entry">
                                    <h3><a href="blog-detail.html">Summer is Calling: Sophie Hulme Citrus Fruit Tote</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada malesuada feugiat. Aenean magna enim, scelerisque quis augue vulputate, accumsan pharetra diam. Sed vehicula nibh quis mi venenatis scelerisque. Nullam...</p>
                                    <a class="view_link" href="blog-detail.html">
                                        read more<i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="noo-blog-item style-2">
                                <a class="noo-blog-thumbnail" href="blog-detail.html" data-image="/Assets/Website/html-umbra/images/blog/blog_456x318.jpg">
                                    <span class="view-link"></span>
                                </a>
                                <div class="noo-blog-entry">
                                    <h3><a href="blog-detail.html">The New Marc Jacobs Gotham Saddle Bag Black</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada malesuada feugiat. Aenean magna enim, scelerisque quis augue vulputate, accumsan pharetra diam. Sed vehicula nibh quis mi venenatis scelerisque. Nullam...</p>
                                    <a class="view_link" href="blog-detail.html">
                                        read more<i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pt-5 pb-10 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="noo-services text-center pt-5">
                            <div class="noo-service-icon">
                                <i class="fa fa-paper-plane-o"></i>
                                <i class="fa fa-paper-plane-o"></i>
                            </div>
                            <div class="noo-service-content">
                                <h3>Fast Delivery</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed eiusmod</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="noo-services text-center pt-5">
                            <div class="noo-service-icon">
                                <i class="fa fa-shield"></i>
                                <i class="fa fa-shield"></i>
                            </div>
                            <div class="noo-service-content">
                                <h3>Secure Checkout</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed eiusmod</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="noo-services text-center pt-5">
                            <div class="noo-service-icon">
                                <i class="fa fa-gift"></i>
                                <i class="fa fa-gift"></i>
                            </div>
                            <div class="noo-service-content">
                                <h3>Member Discount</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed eiusmod</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-simplenews">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-simplenews style-2">
                            <div class="noo-simplenews-header">
                                <h3 class="noo-mail-title white">Newsletter</h3>
                            </div>
                            <form class="noo-simplenews-form">
                                <div class="form-fields">
                                    <input type="email" name="EMAIL" placeholder="Your email address" required />
                                    <input type="submit" value="subscribe" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
