﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}
@RenderPage("~/Areas/Website/Views/Shared/_Header.cshtml")
<div id="main">
    <div class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="maps">
                        <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6304.829986131271!2d-122.4746968033092!3d37.80374752160443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808586e6302615a1%3A0x86bd130251757c00!2sStorey+Ave%2C+San+Francisco%2C+CA+94129!5e0!3m2!1sen!2sus!4v1435826432051" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section mtn-10">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-info">
                        <div class="col-md-4 col-sm-6">
                            <div class="noo-introduce">
                                <div class="noo-introduce-icon">
                                    <img src="images/vector_location.png" alt="" />
                                </div>
                                <div class="noo-introduce-content">
                                    <h3>Visit Our Location</h3>
                                    <p>79 Orchard St, New York,<br />United States.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="noo-introduce">
                                <div class="noo-introduce-icon">
                                    <img src="images/vector_chat.png" alt="" />
                                </div>
                                <div class="noo-introduce-content">
                                    <h3>Let's have a chat!</h3>
                                    <span class="noo-attr-intro">T <a href="#">1-847-555-5555</a></span>
                                    <br />
                                    <span class="noo-attr-intro">M <a href="mailto:contact@umbra.com">Contact@umbra.com</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="noo-introduce">
                                <div class="noo-introduce-icon">
                                    <img src="images/vector_alarm.png" alt="" />
                                </div>
                                <div class="noo-introduce-content">
                                    <h3>Working hours</h3>
                                    <p>Mon – Fri: 8AM – 10PM<br />Sat: 9AM-8PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-3 pb-10">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-form-wrapper">
                        <div class="noo-section-title mb-3">
                            <h3><span>Contact Us</span></h3>
                            <p>Leave A Message</p>
                        </div>
                        <form class="contact-form">
                            <div class="row">
                                <div class="comment-form-author col-md-6">
                                    <input id="author" name="author" type="text" placeholder="Your name *" value="" size="30" />
                                </div>
                                <div class="comment-form-email col-md-6">
                                    <input id="email" name="email" type="text" placeholder="Your email *" value="" size="30" />
                                </div>
                                <div class="comment-form-url col-md-12">
                                    <input id="url" name="url" type="text" placeholder="Website" value="" size="30" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="comment-form-comment col-md-12">
                                    <textarea placeholder="Your comment *" id="comment" name="comment" cols="40" rows="6"></textarea>
                                </div>
                                <div class="form-submit col-md-12">
                                    <input name="submit" type="submit" id="submit" class="submit" value="Post comment" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>