﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}
@RenderPage("~/Areas/Website/Views/Shared/_Header.cshtml")
<div id="main">
    <div class="section mt-6 mb-10">
        <div class="container">
            <div class="noo-container-catalog">
                <div class="noo-catalog">
                    <p class="commerce-result-count">Showing all 9 results</p>
                    <select class="orderby">
                        <option value="" selected="selected">Default sorting</option>
                        <option value="">Sort by popularity</option>
                        <option value="">Sort by average rating</option>
                        <option value="">Sort by newness</option>
                        <option value="">Sort by price: low to high</option>
                        <option value="">Sort by price: high to low</option>
                    </select>
                    <div class="commerce-catalog pull-right">
                        <button class="shop-meta-icon icon_menu" type="button"></button>
                        <select class="noo-woo-filter">
                            <option value="">Filter color</option>
                            <option value="">Blue</option>
                            <option value="">Green</option>
                        </select>
                        <select class="noo-woo-filter">
                            <option value="">Filter size</option>
                            <option value="">XXL</option>
                        </select>
                        <select class="noo-woo-filter">
                            <option value="">Filter style </option>
                            <option value="" selected="selected">Grid </option>
                            <option value="">List </option>
                        </select>
                    </div>
                    <div class="shop-filter">
                        <select class="orderby">
                            <option value="" selected="selected">Default sorting</option>
                            <option value="">Sort by popularity</option>
                            <option value="">Sort by average rating</option>
                            <option value="">Sort by newness</option>
                            <option value="">Sort by price: low to high</option>
                            <option value="">Sort by price: high to low</option>
                        </select>
                        <select class="noo-woo-filter">
                            <option value="">Filter color</option>
                            <option value="">Blue</option>
                            <option value="">Green</option>
                        </select>
                        <select class="noo-woo-filter">
                            <option value="">Filter size</option>
                            <option value="">XXL</option>
                        </select>
                        <select class="noo-woo-filter">
                            <option value="">Filter style </option>
                            <option value="" selected="selected">Grid </option>
                            <option value="">List </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="noo-product-grid mt-0">
                        <div class="noo-product-item col-md-4 col-sm-6">
                            <div class="noo-product-inner">
                                <h3><a href="shop-detail.html">Modern Red Chair</a></h3>
                                <span class="posted_in"><a href="#">Decor</a></span>
                                <span class="onsale">Sale!</span>
                                <div class="noo-product-thumbnail">
                                    <div class="noo-product-meta">
                                        <div class="compare-button">
                                            <a href="#">Compare</a>
                                        </div>
                                        <div class="wishlist-button">
                                            <a href="#">Wishlist</a>
                                        </div>
                                        <div class="noo-quick-view">
                                            <a href="ajax/product-quickview.html"></a>
                                        </div>
                                    </div>
                                    <div class="noo-product-slider">
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="price">
                                    <del>&#36;270.00</del>
                                    <ins>&#36;239.00</ins>
                                </div>
                                <div class="noo-loop-cart">
                                    <a href="#" class="button add-to-cart"></a>
                                </div>
                            </div>
                        </div>
                        <div class="noo-product-item col-md-4 col-sm-6">
                            <div class="noo-product-inner">
                                <h3><a href="shop-detail.html">The Signature Chair</a></h3>
                                <span class="posted_in"><a href="#">Armchair</a></span>
                                <div class="noo-product-thumbnail">
                                    <div class="noo-product-meta">
                                        <div class="compare-button">
                                            <a href="#">Compare</a>
                                        </div>
                                        <div class="wishlist-button">
                                            <a href="#">Wishlist</a>
                                        </div>
                                        <div class="noo-quick-view">
                                            <a href="ajax/product-quickview.html"></a>
                                        </div>
                                    </div>
                                    <div class="noo-product-slider">
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="price">
                                    &#36;220.00
                                </div>
                                <div class="noo-loop-cart">
                                    <a href="#" class="button add-to-cart"></a>
                                </div>
                            </div>
                        </div>
                        <div class="noo-product-item col-md-4 col-sm-6">
                            <div class="noo-product-inner">
                                <h3><a href="shop-detail.html">Egg Chair</a></h3>
                                <span class="posted_in"><a href="#">Decor</a></span>
                                <div class="noo-product-thumbnail">
                                    <div class="noo-product-meta">
                                        <div class="compare-button">
                                            <a href="#">Compare</a>
                                        </div>
                                        <div class="wishlist-button">
                                            <a href="#">Wishlist</a>
                                        </div>
                                        <div class="noo-quick-view">
                                            <a href="ajax/product-quickview.html"></a>
                                        </div>
                                    </div>
                                    <div class="noo-product-slider">
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="price">
                                    &#36;333.00
                                </div>
                                <div class="noo-loop-cart">
                                    <a href="#" class="button add-to-cart"></a>
                                </div>
                            </div>
                        </div>
                        <div class="noo-product-item col-md-4 col-sm-6">
                            <div class="noo-product-inner">
                                <h3><a href="shop-detail.html">Hansen Ro Chair</a></h3>
                                <span class="posted_in"><a href="#">Armchair</a></span>
                                <div class="noo-product-thumbnail">
                                    <div class="noo-product-meta">
                                        <div class="compare-button">
                                            <a href="#">Compare</a>
                                        </div>
                                        <div class="wishlist-button">
                                            <a href="#">Wishlist</a>
                                        </div>
                                        <div class="noo-quick-view">
                                            <a href="ajax/product-quickview.html"></a>
                                        </div>
                                    </div>
                                    <div class="noo-product-slider">
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="price">
                                    &#36;327.00
                                </div>
                                <div class="noo-loop-cart">
                                    <a href="#" class="button add-to-cart"></a>
                                </div>
                            </div>
                        </div>
                        <div class="noo-product-item col-md-4 col-sm-6">
                            <div class="noo-product-inner">
                                <h3><a href="shop-detail.html">Flamingo Chair</a></h3>
                                <span class="posted_in"><a href="#">Armchair</a></span>
                                <span class="onsale">Sale!</span>
                                <div class="noo-product-thumbnail">
                                    <div class="noo-product-meta">
                                        <div class="compare-button">
                                            <a href="#">Compare</a>
                                        </div>
                                        <div class="wishlist-button">
                                            <a href="#">Wishlist</a>
                                        </div>
                                        <div class="noo-quick-view">
                                            <a href="ajax/product-quickview.html"></a>
                                        </div>
                                    </div>
                                    <div class="noo-product-slider">
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="price">
                                    <del>&#36;211.00</del>
                                    <ins>&#36;199.00</ins>
                                </div>
                                <div class="noo-loop-cart">
                                    <a href="#" class="button add-to-cart"></a>
                                </div>
                            </div>
                        </div>
                        <div class="noo-product-item col-md-4 col-sm-6">
                            <div class="noo-product-inner">
                                <h3><a href="shop-detail.html">Cuba Chair</a></h3>
                                <span class="posted_in"><a href="#">Chairs</a></span>
                                <div class="noo-product-thumbnail">
                                    <div class="noo-product-meta">
                                        <div class="compare-button">
                                            <a href="#">Compare</a>
                                        </div>
                                        <div class="wishlist-button">
                                            <a href="#">Wishlist</a>
                                        </div>
                                        <div class="noo-quick-view">
                                            <a href="ajax/product-quickview.html"></a>
                                        </div>
                                    </div>
                                    <div class="noo-product-slider">
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="price">
                                    &#36;434.00
                                </div>
                                <div class="noo-loop-cart">
                                    <a href="#" class="button add-to-cart"></a>
                                </div>
                            </div>
                        </div>
                        <div class="noo-product-item col-md-4 col-sm-6">
                            <div class="noo-product-inner">
                                <h3><a href="shop-detail.html">Blue Wing chair</a></h3>
                                <span class="posted_in"><a href="#">Armchair</a></span>
                                <span class="onsale">Sale!</span>
                                <div class="noo-product-thumbnail">
                                    <div class="noo-product-meta">
                                        <div class="compare-button">
                                            <a href="#">Compare</a>
                                        </div>
                                        <div class="wishlist-button">
                                            <a href="#">Wishlist</a>
                                        </div>
                                        <div class="noo-quick-view">
                                            <a href="ajax/product-quickview.html"></a>
                                        </div>
                                    </div>
                                    <div class="noo-product-slider">
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="price">
                                    <del>&#36;219.00</del>
                                    <ins>&#36;200.00</ins>
                                </div>
                                <div class="noo-loop-cart">
                                    <a href="#" class="button add-to-cart"></a>
                                </div>
                            </div>
                        </div>
                        <div class="noo-product-item col-md-4 col-sm-6">
                            <div class="noo-product-inner">
                                <h3><a href="shop-detail.html">Corona Classic Chair</a></h3>
                                <span class="posted_in"><a href="#">Chairs</a></span>
                                <div class="noo-product-thumbnail">
                                    <div class="noo-product-meta">
                                        <div class="compare-button">
                                            <a href="#">Compare</a>
                                        </div>
                                        <div class="wishlist-button">
                                            <a href="#">Wishlist</a>
                                        </div>
                                        <div class="noo-quick-view">
                                            <a href="ajax/product-quickview.html"></a>
                                        </div>
                                    </div>
                                    <div class="noo-product-slider">
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="price">
                                    &#36;400.00
                                </div>
                                <div class="noo-loop-cart">
                                    <a href="#" class="button add-to-cart"></a>
                                </div>
                            </div>
                        </div>
                        <div class="noo-product-item col-md-4 col-sm-6">
                            <div class="noo-product-inner">
                                <h3><a href="shop-detail.html">Vitra Organic Chair</a></h3>
                                <span class="posted_in"><a href="#">Armchair</a></span>
                                <span class="onsale">Sale!</span>
                                <div class="noo-product-thumbnail">
                                    <div class="noo-product-meta">
                                        <div class="compare-button">
                                            <a href="#">Compare</a>
                                        </div>
                                        <div class="wishlist-button">
                                            <a href="#">Wishlist</a>
                                        </div>
                                        <div class="noo-quick-view">
                                            <a href="ajax/product-quickview.html"></a>
                                        </div>
                                    </div>
                                    <div class="noo-product-slider">
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                        <a href="shop-detail.html">
                                            <img src="images/product/product_235x235.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="price">
                                    <del>&#36;358.00</del>
                                    <ins>&#36;350.00</ins>
                                </div>
                                <div class="noo-loop-cart">
                                    <a href="#" class="button add-to-cart"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination list-center">
                        <a class="prev page-numbers" href="#">
                            <i class="fa fa-long-arrow-left"></i>
                        </a>
                        <a class="page-numbers" href="#">1</a>
                        <span class="page-numbers current">2</span>
                        <a class="page-numbers" href="#">3</a>
                        <a class="page-numbers" href="#">4</a>
                        <a class="next page-numbers" href="#">
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="noo-sidebar-wrap">
                        <div class="widget widget_search">
                            <h4 class="widget-title">Search</h4>
                            <form>
                                <input type="search" name="s" class="form-control" value="" placeholder="Enter keyword to search..." />
                                <button type="submit" class="noo-search-submit"><i class="icon_search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget_categories">
                            <h4 class="widget-title">Blog Categories</h4>
                            <ul>
                                <li><a href="#">Bag Trend Alert</a> (3)</li>
                                <li><a href="#">Furniture Tips</a> (3)</li>
                                <li><a href="#">Inspired Ideas</a> (3)</li>
                                <li><a href="#">Interior Trends</a> (3)</li>
                            </ul>
                        </div>
                        <div class="widget widget_recent_entries">
                            <h4 class="widget-title">Recent Posts</h4>
                            <ul>
                                <li>
                                    <a href="#">Summer is Calling: Sophie Hulme Citrus Fruit Tote</a>
                                </li>
                                <li>
                                    <a href="#">The New Marc Jacobs Gotham Saddle Bag Black</a>
                                </li>
                                <li>
                                    <a href="#">Spring Color Bag Trends Summer 2016</a>
                                </li>
                                <li>
                                    <a href="#">Freshen The Bed in a Beautiful Way</a>
                                </li>
                                <li>
                                    <a href="#">Create Gallery Walls in 3 Fun Steps</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget_tag_cloud">
                            <h4 class="widget-title">Blog Tag</h4>
                            <div class="tagcloud">
                                <a href="#">accessories</a>
                                <a href="#">bags</a>
                                <a href="#">Bedroom</a>
                                <a href="#">crafts</a>
                                <a href="#">decorating</a>
                                <a href="#">furnishing</a>
                                <a href="#">inspiring</a>
                                <a href="#">insprired ideas</a>
                                <a href="#">Interior Trends</a>
                                <a href="#">living room</a>
                                <a href="#">tips</a>
                                <a href="#">trends</a>
                            </div>
                        </div>
                        <div class="widget widget_gallery">
                            <h4 class="widget-title">Photos</h4>
                            <div class="gallery">
                                <ul>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP8wyBDlfp">
                                            <img src="images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP82_Mjlf5">
                                            <img src="images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP85Arjlf-">
                                            <img src="images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP8yGxDlfs">
                                            <img src="images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP81wqjlf3">
                                            <img src="images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFnb4J9DlRP">
                                            <img src="images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFnb6JbDlRU">
                                            <img src="images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFnb1lqjlRJ">
                                            <img src="images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>