﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}
@RenderPage("~/Areas/Website/Views/Shared/_Header.cshtml")
<div id="main">
    <div class="section mt-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="noo-blog">
                        <div class="noo-blog-item blog-item-list">
                            <div class="content-featured">
                                <a href="#">
                                    <img src="/Assets/Website/html-umbra/images/blog/blog_970x660.jpg" alt="" />
                                </a>
                            </div>
                            <div class="entry-content">
                                <h3 class="noo-title">
                                    <a href="blog-detail.html">Summer is Calling: Sophie Hulme Citrus Fruit Tote</a>
                                </h3>
                                <p class="noo-excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada malesuada feugiat. Aenean magna enim, scelerisque quis augue vulputate, accumsan pharetra diam. Sed vehicula nibh qui…
                                </p>
                                <a href="blog-detail.html" class="read-more">Read more </a>
                            </div>
                        </div>
                        <div class="noo-blog-item blog-item-list">
                            <div class="content-featured">
                                <a href="#">
                                    <img src="/Assets/Website/html-umbra/images/blog/blog_970x660.jpg" alt="" />
                                </a>
                            </div>
                            <div class="entry-content">
                                <h3 class="noo-title">
                                    <a href="blog-detail.html">The New Marc Jacobs Gotham Saddle Bag Black</a>
                                </h3>
                                <p class="noo-excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada malesuada feugiat. Aenean magna enim, scelerisque quis augue vulputate, accumsan pharetra diam. Sed vehicula nibh qui…
                                </p>
                                <a href="blog-detail.html" class="read-more">Read more </a>
                            </div>
                        </div>
                        <div class="noo-blog-item blog-item-list">
                            <div class="content-featured">
                                <a href="#">
                                    <img src="/Assets/Website/html-umbra/images/blog/blog_970x660.jpg" alt="" />
                                </a>
                            </div>
                            <div class="entry-content">
                                <h3 class="noo-title">
                                    <a href="blog-detail.html">Spring Color Bag Trends Summer 2016</a>
                                </h3>
                                <p class="noo-excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada malesuada feugiat. Aenean magna enim, scelerisque quis augue vulputate, accumsan pharetra diam. Sed vehicula nibh qui…
                                </p>
                                <a href="blog-detail.html" class="read-more">Read more </a>
                            </div>
                        </div>
                        <div class="noo-blog-item blog-item-list">
                            <div class="content-featured">
                                <a href="#">
                                    <img src="/Assets/Website/html-umbra/images/blog/blog_970x660.jpg" alt="" />
                                </a>
                            </div>
                            <div class="entry-content">
                                <h3 class="noo-title">
                                    <a href="blog-detail.html">Freshen The Bed in a Beautiful Way</a>
                                </h3>
                                <p class="noo-excerpt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada malesuada feugiat. Aenean magna enim, scelerisque quis augue vulputate, accumsan pharetra diam. Sed vehicula nibh qui…
                                </p>
                                <a href="blog-detail.html" class="read-more">Read more </a>
                            </div>
                        </div>
                    </div>
                    <div class="pagination list-center">
                        <a class="prev page-numbers" href="#">
                            <i class="fa fa-long-arrow-left"></i>
                        </a>
                        <a class="page-numbers" href="#">1</a>
                        <span class="page-numbers current">2</span>
                        <a class="page-numbers" href="#">3</a>
                        <a class="next page-numbers" href="#">
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="noo-sidebar-wrap">
                        <div class="widget widget_search">
                            <h4 class="widget-title">Search</h4>
                            <form>
                                <input type="search" name="s" class="form-control" value="" placeholder="Enter keyword to search..." />
                                <button type="submit" class="noo-search-submit"><i class="icon_search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget_categories">
                            <h4 class="widget-title">Blog Categories</h4>
                            <ul>
                                <li><a href="#">Bag Trend Alert</a> (3)</li>
                                <li><a href="#">Furniture Tips</a> (3)</li>
                                <li><a href="#">Inspired Ideas</a> (3)</li>
                                <li><a href="#">Interior Trends</a> (3)</li>
                            </ul>
                        </div>
                        <div class="widget widget_recent_entries">
                            <h4 class="widget-title">Recent Posts</h4>
                            <ul>
                                <li>
                                    <a href="#">Summer is Calling: Sophie Hulme Citrus Fruit Tote</a>
                                </li>
                                <li>
                                    <a href="#">The New Marc Jacobs Gotham Saddle Bag Black</a>
                                </li>
                                <li>
                                    <a href="#">Spring Color Bag Trends Summer 2016</a>
                                </li>
                                <li>
                                    <a href="#">Freshen The Bed in a Beautiful Way</a>
                                </li>
                                <li>
                                    <a href="#">Create Gallery Walls in 3 Fun Steps</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget_tag_cloud">
                            <h4 class="widget-title">Blog Tag</h4>
                            <div class="tagcloud">
                                <a href="#">accessories</a>
                                <a href="#">bags</a>
                                <a href="#">Bedroom</a>
                                <a href="#">crafts</a>
                                <a href="#">decorating</a>
                                <a href="#">furnishing</a>
                                <a href="#">inspiring</a>
                                <a href="#">insprired ideas</a>
                                <a href="#">Interior Trends</a>
                                <a href="#">living room</a>
                                <a href="#">tips</a>
                                <a href="#">trends</a>
                            </div>
                        </div>
                        <div class="widget widget_gallery">
                            <h4 class="widget-title">Photos</h4>
                            <div class="gallery">
                                <ul>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP8wyBDlfp">
                                            <img src="/Assets/Website/html-umbra/images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP82_Mjlf5">
                                            <img src="/Assets/Website/html-umbra/images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP85Arjlf-">
                                            <img src="/Assets/Website/html-umbra/images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP8yGxDlfs">
                                            <img src="/Assets/Website/html-umbra/images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFP81wqjlf3">
                                            <img src="/Assets/Website/html-umbra/images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFnb4J9DlRP">
                                            <img src="/Assets/Website/html-umbra/images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFnb6JbDlRU">
                                            <img src="/Assets/Website/html-umbra/images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://instagram.com/p/BFnb1lqjlRJ">
                                            <img src="/Assets/Website/html-umbra/images/gallery/gallery_75x75.jpg" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>