﻿@model Models.Framework.GroupNew

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCms.cshtml";
}

@section Container
{
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add group news</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.ParentID)
                    @Html.DropDownListFor(model => model.ParentID, new SelectList(@ViewBag.ParentID, "GroupNewsID", "Name"), new { @class = "form-control", multiple = "multiple" } )
                    @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Detail)
                    @Html.EditorFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            }
            <br />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}
