﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCms.cshtml";
    ViewBag.Title = "Home";
}
@model List<Models.Framework.GroupNew>

@section Container
{

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Group news</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@Html.ActionLink("Add new", "Create", "GroupNews", null, new { @class = "btn btn-primary" })</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Detail</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Detail</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Detail</td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", "GroupNews", new { id = @item.GroupNewsID}, new { onclick="return confirm('Are you sure to delete this item?');" }) | 
                                        @Html.ActionLink("Edit", "Edit", "GroupNews", new { id = @item.GroupNewsID }, null)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
}